* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: black;
    --mainColorDark: #665c56;
    --secondaryColor: #c6bfbc;
    --textColor: whitesmoke;
}

.App {
    background: #dfcdc3;
}

h1 {
    text-align: center;
    color: #48403b;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColorDark);
    color: var(--textColor);
    height: 70px;
    padding: 0 1.7rem;
}

.logo {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.responsivePart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinksContainer {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    gap: 1rem;
}

.singleNavLink {
    text-decoration: none;
    color: var(--textColor);
    margin: 0 0.5rem;
}

.singleNavLink:hover {
    color: var(--secondaryColor)
}

header .nav_btn {
    padding: 5px 6px 3px 6px;
    cursor: pointer;
    background-color: transparent;
    color: var(--textColor);
    border: 2px solid var(--textColor);
    border-radius: 20px;
    outline: none;

    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width: 645px) {

    header .nav_btn {
        opacity: 1;
        visibility: visible;
    }

    header .responsivePart {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #48403b;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1.5rem;
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    .navLinksContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 2rem;
    }
    .singleNavLink {
        font-size: 1.5rem;
    }

    nav .nav_close_btn {
        position: absolute;
        top: 2rem;
        right: 2rem;

    }

}

