* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 500px;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 60px auto;
    grid-gap: 10px;
}

.message {
    display: grid;
    grid-template-areas:
    'name name'
    'text time';
    border-color: 2px solid #ccc;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.message:after {
    position: absolute;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #ddd;
    bottom: 0;
    left: -3.7%;
    content: '';
    transform: rotate(90deg);
}

.text {
    grid-area: text;
    color: #3c4245;
    padding-top: 5px;
}

.avatar {
    float: left;
    max-width: 47px;
    width: 100%;
    border-radius: 50%;
    margin: 10px 0;
}

.avatarContainer {
    justify-self: center;
    align-self: end;
}

.time {
    float: right;
    color: #aaa;
    justify-self: end;
    align-self: end;
    grid-area: time;
    padding-left: 20px;
}

.name {
    grid-area: name;
    color: darkslateblue;
}



.container__hw1 {
    padding: 20px;
}

