.someClass {

}

.error {
    background-color: #b2928e;
    border-radius: 20px;

    outline: none;
    padding: 7px 15px;
    font-size: 20px;
    border: 2px solid #af5549;

}

.HomeWork3 {
    width: fit-content;
    margin: 20px auto;
    padding: 20px 20px 10px 20px;
    border: 2px solid #48403b;
    border-radius: 20px;

}

.Greeting__Container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.Greeting__btn {
    background-color: transparent;
    border: 2px solid #48403b;
    color: #48403b;
    border-radius: 20px;
    padding: 8px 5px;
}

.Greeting__inpt {
    background-color: #bbaba2;
    border-radius: 20px;
    border-color: #48403b;
    outline: none;
    padding: 7px 15px;
    font-size: 20px;

}

.Users__list{
    margin: 10px;
    text-align: center;
}

