.someClass {

}

.error {
    background: #cd8078;
    border-radius: 20px;

    outline: none;
    padding: 7px 15px;
    font-size: 20px;
    border: 2px solid black;

}

.HomeWork3 {
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #48403b;
    border-radius: 20px;

}

.Greeting__Container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.Greeting__btn {
    background-color: transparent;
    border: 2px solid #48403b;
    color: #48403b;
    border-radius: 20px;
    padding: 8px 5px;
}

.Greeting__btn:disabled {
   opacity: 40%;
}

.Greeting__inpt {
    background-color: #bbaba2;
    border-radius: 20px;
    border-color: #48403b;
    outline: none;
    width: 15rem;
    padding: 7px 15px;
    font-size: 20px;
}

.Editable__Span {
    all: unset;
    text-decoration-line: underline;
    display:inline-block;
    text-align: center;
    border: 2px solid #48403b;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    width: fit-content;
}

.Users__list{

    text-align: center;
}

